.show {
  transform: translateX(0rem);
  opacity: 0.98;
}

.dropdown-items {
  /* display: none; */
}
.retail-details table {
  /* border-collapse: collapse; */
  width: -webkit-fill-available;
  text-align: center;
  /* border: 18px solid black; */
  border-radius: 21px;
  border: 1px solid darkorange;
  padding: 4px;
  border-spacing: 0px;
  background-color: antiquewhite;
}
.retail-data h3 {
  margin: 0.125rem;
}

.retail-data {
  margin-bottom: 1.75rem;
}

.retail-details table td,
th {
  border: none;
  border-bottom: 1px solid darkorange;
  /* padding: 10px; */
}
.retail-details table tr:last-child td {
  border-bottom: none;
}
.retail-details table tr td p {
  margin: 0.35rem;
}
.retail-details table tr td input[type="button"] {
  border-radius: 45px;
  border: none;
  font-weight: 500;
  background-color: rgb(160, 216, 241);
}
.retail-data > div:nth-child(n + 3) {
  margin-bottom: 0.5rem;
}
/* .retail-data > div[class="headers"] {
  margin-bottom: 1.5rem;
} */
.retail-summary {
  /* display: flex; */
  /* justify-content: space-between; */
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  text-align: center;
  margin-bottom: 0.5rem;
}
.retail-summary p {
  margin: 0.25rem;
}
.retail-summary input[type="button"] {
  border-radius: 45px;
  border: none;
  background-color: cornflowerblue;
}
.hidden {
  display: none;
}
.headers {
  font-weight: bold;
  /* margin-bottom: 0.25rem; */
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  text-align: center;
}
.headers p {
  margin: 0.125rem;
}
