#error {
  width: fit-content;
  text-align: center;
  margin: auto;
  border-radius: 45px;
  transition: opacity ease 3s;
  padding: 0.5rem 0.75rem;
}
.error {
  background-color: rgb(241 56 56 / 90%);
  opacity: 1;
}
.success {
  background-color: lightgreen;
  opacity: 1;
}
.hide {
  visibility: hidden;
  /* display: none; */
  transition: all ease 3s;
  opacity: 0;
}
#records {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}
#add_sale {
  grid-column: 4/5;
  border-radius: 45px;
  font-family: cursive;
  font-weight: 800;
  color: white;
  background-color: #76f576;
}
.record--rows {
  grid-column: span 6;
  display: grid;
  grid-template-columns: 1fr 0.5fr 1fr 1fr 0.75fr 0.75fr;
  text-align: center;
}
#records > .title {
  font-weight: bold;
}
.status {
  width: fit-content;
  text-align: center;
  margin: auto;
  border-radius: 45px;
  transition: opacity ease 3s;
  /* padding: 0.5rem 0.75rem; */
  background-color: lightgreen;
  color: white;
}
body {
  margin: 0px;
}
th,
td {
  padding: 0.25rem;
  border: 1px solid black;
}
form {
  display: flex;
  width: 100%;
  /* flex: auto 1 1; */
  margin-bottom: 0.5rem;
  flex-wrap: nowrap;
  display: grid;
  width: 393px;
  grid-template-columns: 1fr 0.5fr 0.25fr 1fr;
  row-gap: 1em;
}
form > input {
  border: none;
  border-bottom: 1px solid gray;
  text-align: center;
  margin-left: 0.5rem;
  flex-basis: 3rem;
  /* width: 5rem; */
}
table {
  border-collapse: collapse;
  text-align: center;
  margin: auto;
  width: 100%;
}
td > input[type="button"] {
  border: none;
  width: fit-content;
  text-align: center;
  margin: auto;
  border-radius: 45px;
  transition: opacity ease 3s;
  /* padding: 0.5rem 0.75rem; */
  background-color: lightgreen;
  color: white;
}
td > p {
  margin: 0em;
}
.hidden {
  display: none;
}
