nav {
  background: rgba(5, 68, 104, 0.95);
  position: fixed;
  top: 0;
  left: 0;
  width: 33%;
  height: 100%;
  padding: 20px 0;
  transition: all 0.5s ease;
}
.content {
  /* position: relative; */
  margin-left: 33%;
}
nav a {
  display: block;
  margin-top: 1rem;
  margin-left: 0.75rem;
}
.contents {
  display: none;
}
.contents--active {
  display: block;
}
.links {
  margin-top: 1rem;
  margin-left: 0.75rem;
  cursor: pointer;
}
.links:hover {
  color: white;
}
