form {
  margin-top: 4rem;
  margin-bottom: 2rem;
  display: flex;
  /* display: block; */
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

form > input,
input[id="id_owner"] {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  letter-spacing: 1.5px;
  font-weight: bold;
  border: none;
  border-bottom: 1px rgb(145, 147, 117) solid;
  text-align: center;
  margin: 0.75rem;
  width: fit-content;
  outline: none;
}

form > input:focus-visible {
  border-bottom: 1.99px blue solid;
}

form > input[type="submit"] {
  border-radius: 45px;
  padding: 0.125rem 0.75rem;
  background-color: orange;
}

#login_btn {
  /* display: flex; */
  border-radius: 45px;
  border: none;
  background-color: orange;
  padding: 0.25rem 2em;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-weight: bold;
  letter-spacing: 1.5px;
  margin-top: 4rem;
}
#login_btn button {
  /* display: flex; */
  border-radius: 45px;
  border: none;
  background-color: orange;
  /* padding: 0.25rem 2em; */
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-weight: bold;
  letter-spacing: 1.5px;
  margin-top: 0rem;
}

.hide {
  display: none;
}
