/* *********************** Styles for stock update page *************************** */
.hidden {
  display: none;
}
.inline {
  display: inline;
  padding-left: 2rem;
}
#colours > li > label {
  display: none;
}
form {
  padding: 1em;
  margin: 1rem 0.5rem;
  /* text-align: center; */
  /* display: flex; */
  display: grid;
  /* flex-direction: column; */
  /* grid-template-columns: 6em 8em 8em; */
  grid-template-columns: 10em 10em 10em;
  /* align-content: center; */
  /* flex-wrap: wrap; */
  align-items: center;
  justify-content: center;
  justify-items: center;
}
form > #name,
form > #stock_type {
  grid-column: span 3;
}
form > #random {
  grid-column: 1 / span 3;
}
form > input {
  /* width: 8em; */
}
.form > input {
  background-color: white;
}
.form > ul[id="clothing"] {
  /* display: inline-flex; */
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  list-style: none;
  flex-wrap: wrap;
  /* flex-direction: column; */
}
.form > ul[id="clothing"] > li > label {
  display: inline;
}
.form > ul[id="colours"] {
  list-style: none;
}
.form > ul > li {
  padding: 5px 0rem;
  /* display: grid;
  grid */
}
label[for="min_size"],
label[for="max_size"] {
  display: none;
}

/* *********************** */
/* *********************** Styles for stock sales page *************************** */

.navbar {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
.navbar > .container-fluid {
  display: flex;
  flex-wrap: inherit;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding-right: 0.75rem;
  padding-left: 0.75rem;
  margin-right: auto;
  margin-left: auto;
}
.navbar-brand {
  padding-top: 0.3125rem;
  padding-bottom: 0.3125rem;
  margin-right: 1rem;
  font-size: 1.25rem;
  text-decoration: none;
  white-space: nowrap;
}

.navbar-toggler {
  padding: 0.25rem 0.75rem;
  font-size: 1.25rem;
  line-height: 1;
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  transition: box-shadow 0.15s ease-in-out;
}
collapse:not(.show) {
  display: none;
}

.navbar-nav {
  display: flex;
  flex-direction: column;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}
.ms-auto {
  margin-left: auto !important;
}
/*********************************************/
.navbar-nav .nav-link {
  padding-right: 0;
  padding-left: 0;
  color: black;
}

.nav-link {
  display: block;
  padding: 0.5rem 1rem;
  text-decoration: none;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out;
}
.navbar-nav .dropdown-menu {
  position: static;
}

.dropdown-menu.show {
  display: block;
}
.dropdown-menu[data-bs-popper] {
  left: 0;
  margin-top: 0.125rem;
}
.dropdown-menu {
  position: absolute;
  top: 100%;
  z-index: 1000;
  display: none;
  min-width: 10rem;
  /* padding: 0.5rem 0; */
  margin: 0;
  font-size: 1rem;
  color: #212529;
  text-align: left;
  list-style: none;
  background-color: #fff;
  background-clip: padding-box;
  /* border: 1px solid rgba(0, 0, 0, 0.15); */
  border-radius: 0.25rem;
}
.navbar-collapse {
  flex-basis: 100%;
  flex-grow: 1;
  align-items: center;
}
.collapse:not(.show) {
  display: none;
}
/* ============ desktop view ============ */
@media all and (min-width: 992px) {
  .dropdown-menu li {
    position: relative;
  }
  .dropdown-menu .submenu {
    display: none;
    position: absolute;
    left: 100%;
    top: -7px;
  }
  .dropdown-menu .submenu-left {
    right: 100%;
    left: auto;
  }

  .dropdown-menu > li:hover {
    background-color: #f1f1f1;
  }
  .dropdown-menu > li:hover > .submenu {
    display: block;
  }
}
/* ============ desktop view .end// ============ */

/* ============ small devices ============ */
@media (max-width: 991px) {
  .dropdown-menu .dropdown-menu {
    margin-left: 0.7rem;
    margin-right: 0.7rem;
    margin-bottom: 0.5rem;
  }
}
/* ============ small devices .end// ============ */

tr,
th,
td {
  border: 1px solid black;
  text-align: center;
  /* padding: 0.5rem; */
}
table {
  border-collapse: collapse;
}
td > input[type="number"] {
  border: none;
  width: 4rem;
  text-align: center;
}
#Sales_data {
  display: flex;
  flex-direction: column;
  width: fit-content;
}

#Sales_data > .Sale_name {
  /* display: flex; */
  flex-direction: row;
  /* border: 1px black solid; */
  background-color: antiquewhite;
  margin-top: 1rem;
  /* padding: 1; */
  box-shadow: 2px 2px 10px 3px rgb(192, 189, 189);
  padding: 1rem;
}
.Sale_name > .Sale_sizes {
  display: flex;
  flex-direction: column;
  padding-left: 1rem;
  margin-top: 1rem;
}
.Sale_sizes > div {
  display: flex;
  background-color: rgb(225, 210, 191);
  box-shadow: -5px 2px 10px 3px rgb(192, 189, 189);
  /* padding-right: 1rem; */
}
#Sale_Colour {
  background-color: #ede6e6;
  box-shadow: -2px 2px 10px 5px rgb(192, 189, 189);
  /* margin-left: 1rem; */
  margin-bottom: 0.5rem;
  /* padding-right: 1em; */
}
#Sale_Colour > div {
  padding-top: 0.5rem;
}
.add_sale {
  width: fit-content;
  margin-top: 0.5rem;
  display: block;
  /* float: right; */
  text-align: center;
  background-color: limegreen;
  border-radius: 45px;
  padding: 2px 0.5rem;
  border: none;
  letter-spacing: 1px;
  color: white;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: normal;
}
.rem_sale {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  display: block;
  float: right;
  width: fit-content;
  background-color: #e6534e;
  /* background-color: #f54029; */
  border: none;
  margin-top: 0.5rem;
  border-radius: 45px;
  /* color: white; */
  text-align: center;
  padding: 2px 0.5rem;
}
.green {
  background-color: limegreen;
  border: none;
  border-radius: 45px;
  color: white;
  padding: 2px 0.5rem;
}
input {
  /* width: 4rem; */
  /* width: auto; */
  /* border: no; */
  /* margin-top: 1rem; */
  /* background-color: #f5f5f5; */
  height: fit-content;
  border: none;
  /* margin: 0.25rem; */
  border-bottom: 1px rgb(145, 147, 117) solid;
  text-align: center;
}
#Sale_Colour > div > input {
  width: 4rem;
  /* border: 1px black solid; */
  margin-right: 0.5rem;
}
input[type="number"] {
  /* width: 4rem; */
}
.align {
  align-self: flex-end;
}
input:focus-visible {
  border: none;
  outline: none;
  border-bottom: 1px blue solid;
}
input[type="text"],
input[type="number"] {
  /* margin: 1rem; */
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  letter-spacing: 1.5px;
  font-weight: bold;
  /* width: fit-content; */
}

/* *********************** */
/* *********************** Styles for home page *************************** */
#notify {
  text-align: center;
  margin: 1rem;
  font-weight: bold;
  letter-spacing: 1.1px;
  line-height: 1rem;
  font-size: larger;
}
.dropdown-list {
  margin: 0.5rem;
  color: black;
}
.dropdown-list > a {color: black;}
#available {
  background-color: rgb(211, 211, 211);
  /* border-radius: 45px; */
}
#pending {
  background-color: rgb(223, 220, 220);
}
.contain {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  justify-items: center;
}

.hometitle > h5,
.home-sales > h5 {
  display: inline;
  margin: auto;
  letter-spacing: 1.25px;
  font-size: medium;
  align-self: center;
  margin: 0rem;
}
.hometitle,
.sales-title {
  border-bottom: 1px grey solid;
}
.homedata {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  /* justify-items: center; */
  width: 100%;
  grid-column: span 5;
  justify-content: space-around;
  border-bottom: 1px grey solid;
}
.homedata > p {
  text-align: center;
}
.hometitle {
  grid-column: span 5;
  margin: 0.5rem 0rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  width: -webkit-fill-available;
  justify-content: space-around;
  justify-items: center;
}
.home-sales {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  justify-items: center;
  background-color: lightgray;
}
.sales-title {
  grid-column: span 6;
  margin: 0.5rem 0rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  width: -webkit-fill-available;
  justify-content: space-around;
  justify-items: center;
}
.sales-data {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  justify-items: center;
  grid-column: span 6;
  justify-content: space-around;
  border-bottom: 1px darkgrey solid;
}
.sales-data > :nth-child(n + 3) {
  border-top: 1px whitesmoke solid;
}
.sales-data-div {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  justify-items: center;
  grid-column: 2 / span 5;
  border-left: 1px darkgray solid;
}
.start {
  grid-column: 1;
}
button {
  height: fit-content;
  align-self: center;
  border: none;
  border-radius: 45px;
  padding: 0.25rem 1rem;
  background-color: #1495;
}
.availdata {
  display: flex;
  padding: 0.5rem;
  border-right: 1px darkgrey solid;
  border-bottom: 1px darkgrey solid;
  height: fit-content;
  flex-wrap: wrap;
}
.availdata > p {
  margin: 0.5rem 0rem 0.5rem 0.5rem;
  font-weight: bolder;
  letter-spacing: 1.25px;
  padding-right: 0.25rem;
  border-right: 1px black solid;
}
.coldata > :nth-child(n + 2) {
  border-top: 1px black solid;
}
.coldata > div {
  display: flex;
  /* display: inline; */
  /* padding: 0.5rem; */
}
.coldata > div > p {
  margin: 0.5rem;
}
.par-availdata {
  border-top: 1px whitesmoke solid;
  grid-column: 2 / span 4;
  display: flex;
  flex-wrap: wrap;
}
li > a {
  text-decoration: none;
}
li {
  color: black;
  letter-spacing: 1.5px;
  font-weight: 800;
}
