{% extends "menu.html" %}
{% block script %}
    <script defer src="/static/analysis.js"></script>
    <link rel="stylesheet" href="/static/analysis.css" />
{% endblock %}
{% block body %}
    <div class="retail-data">
      <div style="text-align: center"><h3>Shop sales</h3></div>
      <div class="headers">
        <p>shop no</p>
        <p>quantity</p>
        <p>Total</p>
        <p></p>
      </div>
      {% for sum in localsum %}
      <div>
        <div class="retail-summary">
          <p>{{sum.shop_no}}</p>
          <p>{{sum.count}}</p>
          <p>{{sum.sum}}</p>

          <input type="button" value="Show" class="retail-show-btn" />
        </div>
        <div class="retail-details hidden">
          <table>
            <tr>
              <th>Product</th>
              <th>price</th>
              <th>colour</th>
              <th>size</th>
              <th>Date</th>
              <th></th>
            </tr>
            {% for obj in sum.data %}
            <tr>
              <td><p>{{obj.product}}</p></td>
              <td><p>{{obj.price}}</p></td>
              <td><p>{{obj.colour}}</p></td>
              <td><p>{{obj.size}}</p></td>
              <!-- <td><p>{{obj.paid}}</p></td> -->
              <td><p>{{obj.date |date:"Y-m-d" }}</p></td>
              <td><input type="button" value="Sorted" class="shop" /></td>
            </tr>
            {% endfor %}
          </table>
        </div>
      </div>
      {% endfor %}
    </div>
    {% if retailsum %}
    <div class="retail-data">
      <div style="text-align: center"><h3>Brokered sales</h3></div>
      <div class="headers">
        <p>shop no</p>
        <p>quantity</p>
        <p>Total</p>
        <p></p>
      </div>
        {% for sum in retailsum %}
        <div>
          <div class="retail-summary">
            <p>{{sum.shop_no}}</p>
            <p>{{sum.count}}</p>
            <p>{{sum.sum}}</p>

            <input type="button" value="Show" class="retail-show-btn" />
          </div>
          <div class="retail-details hidden">
            <table>
                          <tr>
              <th>Product</th>
              <th>price</th>
              <th>colour</th>
              <th>size</th>
              <!-- <th>paid</th> -->
              <th>Date</th>
              <th></th>
            </tr>
              {% for obj in sum.data %}
              <tr>
                <td><p>{{obj.product}}</p></td>
                <td><p>{{obj.amount}}</p></td>
                <td><p>{{obj.colour}}</p></td>
                <!-- <td><p>{{obj.amount}}</p></td> -->
                <td><p>{{obj.size}}</p></td>
                
                <td><p>{{obj.date|date:"Y-m-d"}}</p></td>
                <td><input type="button" value="Sorted" class="brokered"/></td>
              </tr>
              {% endfor %}
            </table>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
    {% endif %}
    <!-- div tag for the graphs -->
    <div id="current_year_revenue"></div>
    <div id="current_year_volume"></div>
    {% endblock %}
