<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script
      defer
      src="https://cdn.anychart.com/releases/8.11.0/js/anychart-core.min.js"
    ></script>
    <script
      defer
      src="https://cdn.anychart.com/releases/8.11.0/js/anychart-cartesian.min.js"
    ></script>
    <script defer src="/static/analysis.js"></script>
    <link rel="stylesheet" href="/static/analysis.css" />
  </head>
  <body>
    <div id="menu">
      <!-- Create the hamburger display -->
      <div id="hamburger">
        <div id="one" class="ham-item"></div>
        <div id="two" class="ham-item"></div>
        <div id="three" class="ham-item"></div>
      </div>
      <div id="main-menu" class="hidden"></div>
    </div>
    <div class="retail-data">
      <div style="text-align: center"><h3>Shop sales</h3></div>
      <div class="headers">
        <p>shop number</p>
        <p>quantity</p>
        <p>Total</p>
        <p></p>
      </div>
      {% for sum in localsum %}
      <div>
        <div class="retail-summary">
          <p>{{sum.shop_no}}</p>
          <p>{{sum.count}}</p>
          <p>{{sum.sum}}</p>

          <input type="button" value="Show details" class="retail-show-btn" />
        </div>
        <div class="retail-details hidden">
          <table>
            {% for obj in sum.data %}
            <tr>
              <td><p>{{obj.product}}</p></td>
              <td><p>{{obj.price}}</p></td>
              <td><p>{{obj.colour}}</p></td>
              <td><p>{{obj.size}}</p></td>
              <td><p>{{obj.paid}}</p></td>
              <td><input type="button" value="sorted" /></td>
            </tr>
            {% endfor %}
          </table>
        </div>
      </div>
      {% endfor %}
    </div>
    {% if retailsum %}
    <div class="retail-data">
      <div style="text-align: center"><h3>Brokered sales</h3></div>
      <div class="headers">
        <p>shop number</p>
        <p>quantity</p>
        <p>Total</p>
        <p></p>
      </div>
        {% for sum in retailsum %}
        <div>
          <div class="retail-summary">
            <p>{{sum.shop_no}}</p>
            <p>{{sum.count}}</p>
            <p>{{sum.sum}}</p>

            <input type="button" value="Show details" class="retail-show-btn" />
          </div>
          <div class="retail-details hidden">
            <table>
              {% for obj in sum.data %}
              <tr>
                <td><p>{{obj.product}}</p></td>
                <td><p>{{obj.amount}}</p></td>
                <td><p>{{obj.colour}}</p></td>
                <td><p>{{obj.size}}</p></td>
                <td><p>{{obj.paid}}</p></td>
                <td><input type="button" value="sorted" /></td>
              </tr>
              {% endfor %}
            </table>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
    {% endif %}
    <!-- div tag for the graphs -->
    <div id="current_year_revenue"></div>
    <div id="current_year_volume"></div>
  </body>
</html>
