{% extends "menu.html" %} {%load static %}
<!-- block to hold css and js links -->
{% block script %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
<!-- <script defer src="https://cdn.jsdelivr.net/npm/chart.js"></script> -->
<link rel="stylesheet" href="{% static 'dashboard.css' %}" />
<script defer src="{% static 'dashboard.js' %}"></script>
{%endblock%}

<!-- beginning of body block -->
{% block body %}

<!-- Blck holding the worth of the shop -->
<div class="section-container">
  <div
    style="
      display: grid;
      text-align: center;
      grid-template-columns: 1fr 1fr 1fr 1.5fr;
      row-gap: 0.5rem;
    "
  >
    <p><strong>Type</strong></p>
    <p><strong>Worth</strong></p>
    <p><strong>Quantity</strong></p>
    <p></p>
  </div>
  {% if priced_products %}
  <div id="worthsum">
    <p>Priced</p>
    <div
      style="grid-column: span 2; display: grid; grid-template-columns: 1fr 1fr"
    >
      {% with amount=0 %} {% for product in priced_products %}
      <p class="worth">{{priced_worth|add:product.worth}}</p>
      <p class="quantity">{{amount|add:product.Total}}</p>
      {%endfor%} {%endwith%}
    </div>
    <button class="show-worth-deets">Show details</button>
  </div>

  <div class="hidden">
    <div>
      <p><strong>Product</strong></p>
      <p><strong>Quantity</strong></p>
      <p><strong>Price</strong></p>
      <p><strong>Worth</strong></p>
      <!-- <button>Show</button> -->
    </div>
    {% for product in priced_products %}
    <div>
      <p>{{product.name}}</p>
      <p>{{product.Total}}</p>
      <p>{{product.price}}</p>
      <p>{{product.worth}}</p>
    </div>

    {%endfor%}
  </div>

  {%endif%}

  <!-- orders worth -->
  {% if pending_orders %}
  <div id="worthsum">
    <p>Orders</p>
    <div
      style="grid-column: span 2; display: grid; grid-template-columns: 1fr 1fr"
    >
      {% with amount=0 worth=0 %} {% for product in pending_orders %}
      <p class="worth">{{worth|add:product.order_price}}</p>
      <p class="quantity">{{amount|add:product.amount}}</p>
      {%endfor%} {%endwith%}
    </div>
    <button class="show-worth-deets">Show details</button>
  </div>
  <div class="hidden">
    <div>
      <p><strong>Product</strong></p>
      <p><strong>Quantity</strong></p>
      <p><strong>Worth</strong></p>
      <p><strong>Arrival</strong></p>
    </div>
    {% for product in pending_orders %}
    <div>
      <p>{{product.name}}</p>
      <p>{{product.amount}}</p>
      <p>{{product.order_price}}</p>
      <p>{{product.proposed_arrival}}</p>
    </div>
    {%endfor%}
  </div>
  {%endif%}
</div>

<!-- block to hold pending orders -->
{% if pending_orders %}
<div class="section-container">
  <div id="pending_orders">
    <p style="grid-column: span 5"><strong>Ordered products</strong></p>
    <p><strong>Product</strong></p>
    <p><strong>Price</strong></p>
    <p><strong>Total</strong></p>
  </div>

  <!-- iterate between the pending order list -->
  {% for order in pending_orders %}
  <div id="pending_orders_summary">
    <p>{{order.name}}</p>
    <p>{{order.order_price}}</p>
    <p>{{order.amount}}</p>
    <button class="show-order-abtr">Show</button>
    <button class="action">Arrived</button>
  </div>
  <div class="hidden">
    <!-- |date:"Y-m-d" ; -->
    <p><strong>Sizes</strong></p>
    <p><strong>Colours</strong></p>
    <p><strong>Order date</strong></p>
    <p>{% for size in order.size_range %}{{size}},{% endfor %}</p>
    <p>{% for color in order.colours %} {{color}}, {% endfor %}</p>
    <p>{{order.order_date }}</p>
    {% if order.shipping_co or order.proposed_arrival %}
    <p><strong>shipping Co</strong></p>
    <p><strong>Arrival date</strong></p>
    <p style="grid-column: 3 / span 1"></p>
    <p>{{ order.shipping_co }}</p>
    <p>{{ order.proposed_arrival }}</p>
    {% endif %}
    <button class="show-order-var" style="grid-column: 3 / span 1">
      Show variation
    </button>
  </div>
  <div class="hidden">
    <p><strong>Size</strong></p>
    <p><strong>Colour</strong></p>
    <p><strong>Amount</strong></p>
    <p><strong>Size</strong></p>
    <p><strong>Colour</strong></p>
    <p><strong>Amount</strong></p>
    {% for size,colours in order.variation.items %}
    <p style="margin: auto">{{size}}</p>
    <div
      style="grid-column: span 2; display: grid; grid-template-columns: 1fr 1fr"
    >
      {% for color,amount in colours.items %}
      <!-- <div> -->
      <p>{{color}}</p>
      <p>{{amount}}</p>
      <!-- </div> -->
      {% endfor %}
    </div>
    {%endfor%}
  </div>
  {%endfor%}
</div>
{%endif%}

<!-- block for setting prices for products -->
{% if priced_products %}
<div class="section-container">
  <div id="priced_products">
    <p style="grid-column: span 4"><strong>Priced products</strong></p>
    <p><strong>Product</strong></p>
    <p><strong>Amount</strong></p>
  </div>
  {% for product in priced_products%}
  <div id="priced_products_summary">
    <p>{{product.name}}</p>
    <p>{{product.Total}}</p>
    <button class="showabstract">Show</button>
    <button class="action">change price</button>
  </div>
  <div class="hidden">
    <p><strong>Sizes</strong></p>
    <p><strong>Colours</strong></p>
    <p><strong>Price</strong></p>
    <p>{% for size in product.sizes %}{{size}},{% endfor %}</p>
    <p>{% for color in product.colours %} {{color}}, {% endfor %}</p>
    <p>{{product.price}}</p>
    <button style="grid-column: 3 / span 1" class="showdetailed">
      Show variation
    </button>
  </div>
  <div class="hidden">
    <p><strong>Size</strong></p>
    <p><strong>Colour</strong></p>
    <p><strong>Amount</strong></p>
    <p><strong>Size</strong></p>
    <p><strong>Colour</strong></p>
    <p><strong>Amount</strong></p>
    {% for size,colours in product.variation.items %}
    <p style="margin: auto">{{size}}</p>
    <div
      style="grid-column: span 2; display: grid; grid-template-columns: 1fr 1fr"
    >
      {% for color,amount in colours.items %}
      <!-- <div> -->
      <p>{{color}}</p>
      <p>{{amount}}</p>
      <!-- </div> -->
      {% endfor %}
    </div>
    {%endfor%}
  </div>

  {%endfor%}
</div>
{% endif %}

<!-- block for changing prices -->
{% if unpriced_products %}
<div class="section-container">
  <div id="unpriced_products">
    <p style="grid-column: span 4"><strong>Unpriced products</strong></p>
    <p><strong>Product</strong></p>
    <p><strong>Amount</strong></p>
  </div>
  {% for product in unpriced_products%}
  <div id="unpriced_products_summary">
    <p>{{product.name}}</p>
    <p>{{product.Total}}</p>
    <button class="showabstract">Show</button>
    <button class="action">Set price</button>
  </div>
  <div class="hidden">
    <p><strong>Sizes</strong></p>
    <p><strong>Colours</strong></p>
    <p></p>
    <p>{% for size in product.sizes %}{{size}},{% endfor %}</p>
    <p>{% for color in product.colours %} {{color}}, {% endfor %}</p>
    <p>{{product.Price}}</p>
    <button style="grid-column: 3 / span 1" class="showdetailed">
      Show variation
    </button>
  </div>
  <div class="hidden">
    <p><strong>Size</strong></p>
    <p><strong>Colour</strong></p>
    <p><strong>Amount</strong></p>
    <p><strong>Size</strong></p>
    <p><strong>Colour</strong></p>
    <p><strong>Amount</strong></p>
    {% for size,colours in product.variation.items %}
    <p style="margin: auto">{{size}}</p>
    <div
      style="grid-column: span 2; display: grid; grid-template-columns: 1fr 1fr"
    >
      {% for color,amount in colours.items %}
      <!-- <div> -->
      <p>{{color}}</p>
      <p>{{amount}}</p>
      <!-- </div> -->
      {% endfor %}
    </div>
    {%endfor%}
  </div>

  {%endfor%}
</div>
{% endif%}

<div class="graph section-container">
  <canvas style="height: -webkit-fill-available" id="sales_analysis"></canvas>
</div>

<!-- <canvas id="chartJSContainer" width="600" height="400"></canvas> -->

{% if analysis%}
<div id="analysis" class="section-container">
  <select id="products" style="
      width: -webkit-fill-available;
      text-align: center;
      margin: 1rem;">
      <option >Choose product</option>
    {%for product in analysis %}
    <option>{{product.name}}</option>
{%endfor%}
  </select>

  {%for product in analysis%}
  <div   class="{{product.name}}">
  <div style="display:grid;grid-template-columns:1fr 1fr;grid-column:1/span 1;height:fit-content;justify-items: center;">
    <p><strong>Product</strong></p>
    <p><strong>Restocks</strong></p>
  <p>{{product.name}}</p>
  <p>{{product.no_of_restocks}}</p>
  <p style="margin-top: 0.5rem;
  border-top: 1px solid cornflowerblue;
  width: -webkit-fill-available;
  margin-left: 0.5rem;"><Strong>Price</Strong></p>
  <p></p>
  <p>1000</p>
  </div>
  <div id="graph" style="width: 100%;height:150px;grid-column:2/span 1;">
    <canvas style="width:inherit;height:inherit;" ></canvas>
  </div>
  
  <!-- table of contents showing histrory of the product -->
  <div style="display: grid;grid-template-columns: 1fr 1fr 1fr 1fr;grid-column:span 3; text-align:center;">
    <div style="display: grid;grid-template-columns: 0.5fr 1.5fr 1fr 0.5fr 1fr;grid-column:span 4;margin-bottom:0.25rem">
      <!-- <p><strong>Name</strong></p> -->
      <p><strong>Id</strong></p>
      <p><strong>Arrival</strong></p>
      <p><strong>Ordered</strong></p>
      <p><strong>Sold</strong></p>
      <p></p>
    </div>
      {%for log in product.product_logs%}
      <div style="display:grid;grid-template-columns: 0.5fr 1.5fr 1fr 0.5fr 1fr;grid-column:span 4;margin-bottom:0.5rem">
        <p>{{log.id}}</p>
        <p>{{log.Arrival_date|date:"M d, Y"}}</p>
        <p>{{log.order_amount}}</p>
        {%widthratio log.amount 1 -1 as log_amount%}
        <p>{{log.order_amount|add:log_amount}}</p>
        <button>Show</button>
      </div>
      {%endfor%}
  </div>

  <!-- graphical analysis for the line graph sales data -->
  <div id="sale-line-graph" style="grid-column:1/span 2;"><canvas></canvas></div>
  <div id="sale-pie-graph" style="grid-column:1/span 2;"><canvas></canvas></div>

</div>
  {%endfor%}

</div>
{%endif%}
<!-- close the body block -->
{% endblock %}
