<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/style.css" />
    <script defer src="/static/home.js"></script>
    <title>Document</title>
  </head>
  <body>
    <h2>Welcome Margaret Kamau</h2>
    <div class="contain">
      <h3 style="grid-column: span 5">Available stock</h3>
      <!-- <div class="hometitle"> -->
      <p>Name</p>
      <p>Sizes</p>
      <p>Colours</p>
      <p>Amount</p>
      <!-- </div> -->
      <!-- <div class="homedata"> -->
      <p class="start">Combat</p>
      <p>36-40</p>
      <p>Red, White, Black, Pink</p>
      <p>25</p>
      <button>Show details</button>
      <div class="hidden">
        <div class="availdata">
          <p>36</p>
          <div class="coldata">
            <div>
              <p>Red</p>
              <p>10</p>
            </div>
            <div>
              <p>Red</p>
              <p>10</p>
            </div>
          </div>
        </div>
        <div class="availdata">
          <p>37</p>
          <div class="coldata">
            <div>
              <p>Red</p>
              <p>10</p>
            </div>
          </div>
        </div>
        <div class="availdata">
          <p>38</p>
          <div class="coldata">
            <div>
              <p>Red</p>
              <p>10</p>
            </div>
          </div>
        </div>
        <div class="availdata">
          <p>39</p>
          <div class="coldata">
            <div>
              <p>Red</p>
              <p>10</p>
            </div>
          </div>
        </div>
        <div class="availdata">
          <p>40</p>
          <div class="coldata">
            <div>
              <p>Red</p>
              <p>10</p>
            </div>
          </div>
        </div>
      </div>
      <div class="homedata"></div>
    </div>
    <div>
      <p>Stock pending arrival</p>
    </div>
    <div>
      <p>Last 3 days sales</p>
    </div>
  </body>
</html>
