{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'style.css' %}" />
    <link rel="stylesheet" href="{% static 'menu.css' %}" />
    <script defer src="{% static 'menu.js' %}"></script>
    <script defer src="{% static 'home.js' %}"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
      crossorigin="anonymous"
    ></script>
    <title>Document</title>
  </head>
  <body
    style="
      margin: 0em;
      font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    "
  >
    <h2>Welcome {{request.user.first_name}}</h2>

    <div id="menu">
      <!-- Create the hamburger display -->
      <div id="hamburger">
        <div id="one" class="ham-item"></div>
        <div id="two" class="ham-item"></div>
        <div id="three" class="ham-item"></div>
      </div>
      <div id="main-menu" class="menuhidden">
        <ul>
          <li>
            <a href="/Home">Home</a>
          </li>
          <li>
            <a class="nav-dropdown">Stock</a>
            <ul class="dropdown-items hidden">
              <li>
                <a href="/stock/updateAvailable">Update stock available</a>
              </li>
              <li><a href="/stock/Addorders">Update stock ordered</a></li>
            </ul>
          </li>
          <li>
            <a class="nav-dropdown">Sales</a>
            <ul class="dropdown-items hidden">
              <li><a href="/sales">Wholesale</a></li>
              <li><a href="/sales/retail">Retail Sales</a></li>
              <li><a href="/sales/search">Search sales</a></li>
            </ul>
          </li>
          <li><a href="#">Catalog</a></li>
          <li>
            <a href="/analysis">Analysis</a>
          </li>
          <li>
            <a href="/settings">Settings</a>
          </li>
        </ul>
      </div>
    </div>

    {% if products %}
    <div class="contain" id="available">
      <h3 style="grid-column: span 5">Available stock</h3>
      <div class="hometitle">
        <h5 style="grid-column: 1">Name</h5>
        <h5>Sizes</h5>
        <h5>Colours</h5>
        <h5>Amount</h5>
        <h5></h5>
      </div>
      {% for product in products %}
      <div class="homedata">
        <p class="start">{{product.name}}</p>
        <p>{% for size in product.size_range %} {{size}}, {% endfor %}</p>
        <p>{% for colour in product.colours %} {{colour}}, {% endfor %}</p>
        <p>{{product.amount}}</p>
        <button>Show</button>
        <div class="hidden">
          {% for size,colours in product.variation.items %}
          <div class="availdata">
            <p>{{size}}</p>
            <div class="coldata">
              {% for color,amount in colours.items %}
              <div>
                <p>{{color}}</p>
                <p>{{amount}}</p>
              </div>
              {% endfor %}
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
      {% endfor %}
    </div>
    {%else%}
    <div id="notify">No stock available</div>
    {%endif%} {% if pending_order %}
    <div class="contain" id="pending">
      <h3 style="grid-column: span 5">Stock pending arrival</h3>
      <div class="hometitle">
        <h5 style="grid-column: 1">Name</h5>
        <h5>Sizes</h5>
        <h5>Colours</h5>
        <h5>Amount</h5>
        <h5></h5>
      </div>
      {% for order in pending_order %}
      <div class="homedata">
        <p class="start">{{order.name}}</p>
        <p>{% for size in order.size_range %} {{size}}, {% endfor %}</p>
        <p>{% for colour in order.colours %} {{colour}}, {% endfor %}</p>
        <p>{{order.amount}}</p>
        <button>Show</button>
        <div class="hidden">
          {%for size,colours in order.variation.items%}
          <div class="availdata">
            <p>{{size}}</p>
            <div class="coldata">
              {# with colours = order.variation[size] #} {% for color,amount in
              colours.items %}
              <div>
                <p>{{color}}</p>
                <p>{{amount}}</p>
              </div>
              {% endfor %}
            </div>
          </div>
          {%endfor%}
        </div>
      </div>
    </div>
    {%else%}
    <div id="notify">No orders pending arrival</div>
    {%endif%}
    <!-- <div class="home-sales">
      <h3 style="grid-column: span 6">Last 3 days sales</h3>
      <div class="sales-title">
        <h5>Date</h5>
        <h5>Name</h5>
        <h5>Sizes</h5>
        <h5>Colours</h5>
        <h5>Amount</h5>
        <h5></h5>
      </div>
      <div class="sales-data">
        <p>16 <sup>th</sup> Oct 2022</p>
        <div class="sales-data-div">
          <p>Fashion</p>
          <p>36-45</p>
          <p>Red, White, Black, Pink</p>
          <p>25</p>
          <button>show</button>
          <div class="hidden">
            <div class="availdata">
              <p>36</p>
              <div class="coldata">
                <div>
                  <p>Red</p>
                  <p>10</p>
                </div>
                <div>
                  <p>Red</p>
                  <p>10</p>
                </div>
              </div>
            </div>
            <div class="availdata">
              <p>37</p>
              <div class="coldata">
                <div>
                  <p>Red</p>
                  <p>10</p>
                </div>
              </div>
            </div>
            <div class="availdata">
              <p>38</p>
              <div class="coldata">
                <div>
                  <p>Red</p>
                  <p>10</p>
                </div>
              </div>
            </div>
            <div class="availdata">
              <p>39</p>
              <div class="coldata">
                <div>
                  <p>Red</p>
                  <p>10</p>
                </div>
              </div>
            </div>
            <div class="availdata">
              <p>40</p>
              <div class="coldata">
                <div>
                  <p>Red</p>
                  <p>10</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="sales-data-div">
          <p>Fashion</p>
          <p>36-45</p>
          <p>Red, White, Black, Pink</p>
          <p>25</p>
          <button>show</button>
          <div class="hidden">
            <div class="availdata">
              <p>36</p>
              <div class="coldata">
                <div>
                  <p>Red</p>
                  <p>10</p>
                </div>
                <div>
                  <p>Red</p>
                  <p>10</p>
                </div>
              </div>
            </div>
            <div class="availdata">
              <p>37</p>
              <div class="coldata">
                <div>
                  <p>Red</p>
                  <p>10</p>
                </div>
              </div>
            </div>
            <div class="availdata">
              <p>38</p>
              <div class="coldata">
                <div>
                  <p>Red</p>
                  <p>10</p>
                </div>
              </div>
            </div>
            <div class="availdata">
              <p>39</p>
              <div class="coldata">
                <div>
                  <p>Red</p>
                  <p>10</p>
                </div>
              </div>
            </div>
            <div class="availdata">
              <p>40</p>
              <div class="coldata">
                <div>
                  <p>Red</p>
                  <p>10</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="sales-data">
        <p>16 <sup>th</sup> Oct 2022</p>
        <div class="sales-data-div">
          <p>Fashion</p>
          <p>36-45</p>
          <p>Red, White, Black, Pink</p>
          <p>25</p>
          <button>show</button>
          <div class="hidden">
            <div class="availdata">
              <p>36</p>
              <div class="coldata">
                <div>
                  <p>Red</p>
                  <p>10</p>
                </div>
                <div>
                  <p>Red</p>
                  <p>10</p>
                </div>
              </div>
            </div>
            <div class="availdata">
              <p>37</p>
              <div class="coldata">
                <div>
                  <p>Red</p>
                  <p>10</p>
                </div>
              </div>
            </div>
            <div class="availdata">
              <p>38</p>
              <div class="coldata">
                <div>
                  <p>Red</p>
                  <p>10</p>
                </div>
              </div>
            </div>
            <div class="availdata">
              <p>39</p>
              <div class="coldata">
                <div>
                  <p>Red</p>
                  <p>10</p>
                </div>
              </div>
            </div>
            <div class="availdata">
              <p>40</p>
              <div class="coldata">
                <div>
                  <p>Red</p>
                  <p>10</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="sales-data">
        <p>16 <sup>th</sup> Oct 2022</p>
        <div class="sales-data-div">
          <p>Fashion</p>
          <p>36-45</p>
          <p>Red, White, Black, Pink</p>
          <p>25</p>
          <button>show</button>
          <div class="hidden">
            <div class="availdata">
              <p>36</p>
              <div class="coldata">
                <div>
                  <p>Red</p>
                  <p>10</p>
                </div>
                <div>
                  <p>Red</p>
                  <p>10</p>
                </div>
              </div>
            </div>
            <div class="availdata">
              <p>37</p>
              <div class="coldata">
                <div>
                  <p>Red</p>
                  <p>10</p>
                </div>
              </div>
            </div>
            <div class="availdata">
              <p>38</p>
              <div class="coldata">
                <div>
                  <p>Red</p>
                  <p>10</p>
                </div>
              </div>
            </div>
            <div class="availdata">
              <p>39</p>
              <div class="coldata">
                <div>
                  <p>Red</p>
                  <p>10</p>
                </div>
              </div>
            </div>
            <div class="availdata">
              <p>40</p>
              <div class="coldata">
                <div>
                  <p>Red</p>
                  <p>10</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div> -->
  </body>
</html>
