<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/style.css" />
    <script defer src="/static/home.js"></script>
    <title>Document</title>
  </head>
  <body
    style="
      margin: 0em;
      font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    "
  >
    <h2>Welcome Margaret Kamau</h2>

    <div id="menu">
      <a href="/update">Update stock available</a>
      <a href="/sales">Update sales</a>
    </div>

    {% if products %}
    <div class="contain" id="available">
      <h3 style="grid-column: span 5">Available stock</h3>
      <div class="hometitle">
        <h5 style="grid-column: 1">Name</h5>
        <h5>Sizes</h5>
        <h5>Colours</h5>
        <h5>Amount</h5>
        <h5></h5>
      </div>
      {% for product in products %}
      <div class="homedata">
        <p class="start">{{product.name}}</p>
        <p>{% for size in product.size_range %} {{size}}, {% endfor %}</p>
        <p>{% for colour in product.colours %} {{colour}}, {% endfor %}</p>
        <p>{{product.amount}}</p>
        <button>Show</button>
        <div class="hidden">
          {% for size in product.variation %}
          <div class="availdata">
            {# Render size variation#}
            <p>{{size}}</p>
            <div class="coldata">
              {%set colours = product.variation[size] %} {% for color in colours
              %}
              <div>
                <p>{{color}}</p>
                <p>{{colours[color]}}</p>
              </div>
              {% endfor %}
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
      {% endfor %}
    </div>
    {%else%}
    <div>No stock available</div>
    {%endif%}
    <div class="contain" id="pending">
      <h3 style="grid-column: span 5">Stock pending arrival</h3>
      <div class="hometitle">
        <h5 style="grid-column: 1">Name</h5>
        <h5>Sizes</h5>
        <h5>Colours</h5>
        <h5>Amount</h5>
        <h5></h5>
      </div>
      <div class="homedata">
        <p class="start">Fashion</p>
        <p>36-45</p>
        <p>Red, White, Black, Pink</p>
        <p>25</p>
        <button>Show details</button>
        <div class="hidden">
          <div class="availdata">
            <p>36</p>
            <div class="coldata">
              <div>
                <p>Red</p>
                <p>10</p>
              </div>
              <div>
                <p>Red</p>
                <p>10</p>
              </div>
              <div>
                <p>Red</p>
                <p>10</p>
              </div>
            </div>
          </div>
          <div class="availdata">
            <p>37</p>
            <div class="coldata">
              <div>
                <p>Red</p>
                <p>10</p>
              </div>
            </div>
          </div>
          <div class="availdata">
            <p>38</p>
            <div class="coldata">
              <div>
                <p>Red</p>
                <p>10</p>
              </div>
            </div>
          </div>
          <div class="availdata">
            <p>39</p>
            <div class="coldata">
              <div>
                <p>Red</p>
                <p>10</p>
              </div>
            </div>
          </div>
          <div class="availdata">
            <p>40</p>
            <div class="coldata">
              <div>
                <p>Red</p>
                <p>10</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="home-sales">
      <h3 style="grid-column: span 6">Last 3 days sales</h3>
      <div class="sales-title">
        <h5>Date</h5>
        <h5>Name</h5>
        <h5>Sizes</h5>
        <h5>Colours</h5>
        <h5>Amount</h5>
        <h5></h5>
      </div>
      <div class="sales-data">
        <p>16 <sup>th</sup> Oct 2022</p>
        <div class="sales-data-div">
          <p>Fashion</p>
          <p>36-45</p>
          <p>Red, White, Black, Pink</p>
          <p>25</p>
          <button>Show details</button>
          <div class="hidden">
            <div class="availdata">
              <p>36</p>
              <div class="coldata">
                <div>
                  <p>Red</p>
                  <p>10</p>
                </div>
                <div>
                  <p>Red</p>
                  <p>10</p>
                </div>
              </div>
            </div>
            <div class="availdata">
              <p>37</p>
              <div class="coldata">
                <div>
                  <p>Red</p>
                  <p>10</p>
                </div>
              </div>
            </div>
            <div class="availdata">
              <p>38</p>
              <div class="coldata">
                <div>
                  <p>Red</p>
                  <p>10</p>
                </div>
              </div>
            </div>
            <div class="availdata">
              <p>39</p>
              <div class="coldata">
                <div>
                  <p>Red</p>
                  <p>10</p>
                </div>
              </div>
            </div>
            <div class="availdata">
              <p>40</p>
              <div class="coldata">
                <div>
                  <p>Red</p>
                  <p>10</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="sales-data-div">
          <p>Fashion</p>
          <p>36-45</p>
          <p>Red, White, Black, Pink</p>
          <p>25</p>
          <button>Show details</button>
          <div class="hidden">
            <div class="availdata">
              <p>36</p>
              <div class="coldata">
                <div>
                  <p>Red</p>
                  <p>10</p>
                </div>
                <div>
                  <p>Red</p>
                  <p>10</p>
                </div>
              </div>
            </div>
            <div class="availdata">
              <p>37</p>
              <div class="coldata">
                <div>
                  <p>Red</p>
                  <p>10</p>
                </div>
              </div>
            </div>
            <div class="availdata">
              <p>38</p>
              <div class="coldata">
                <div>
                  <p>Red</p>
                  <p>10</p>
                </div>
              </div>
            </div>
            <div class="availdata">
              <p>39</p>
              <div class="coldata">
                <div>
                  <p>Red</p>
                  <p>10</p>
                </div>
              </div>
            </div>
            <div class="availdata">
              <p>40</p>
              <div class="coldata">
                <div>
                  <p>Red</p>
                  <p>10</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="sales-data">
        <p>16 <sup>th</sup> Oct 2022</p>
        <div class="sales-data-div">
          <p>Fashion</p>
          <p>36-45</p>
          <p>Red, White, Black, Pink</p>
          <p>25</p>
          <button>Show details</button>
          <div class="hidden">
            <div class="availdata">
              <p>36</p>
              <div class="coldata">
                <div>
                  <p>Red</p>
                  <p>10</p>
                </div>
                <div>
                  <p>Red</p>
                  <p>10</p>
                </div>
              </div>
            </div>
            <div class="availdata">
              <p>37</p>
              <div class="coldata">
                <div>
                  <p>Red</p>
                  <p>10</p>
                </div>
              </div>
            </div>
            <div class="availdata">
              <p>38</p>
              <div class="coldata">
                <div>
                  <p>Red</p>
                  <p>10</p>
                </div>
              </div>
            </div>
            <div class="availdata">
              <p>39</p>
              <div class="coldata">
                <div>
                  <p>Red</p>
                  <p>10</p>
                </div>
              </div>
            </div>
            <div class="availdata">
              <p>40</p>
              <div class="coldata">
                <div>
                  <p>Red</p>
                  <p>10</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="sales-data">
        <p>16 <sup>th</sup> Oct 2022</p>
        <div class="sales-data-div">
          <p>Fashion</p>
          <p>36-45</p>
          <p>Red, White, Black, Pink</p>
          <p>25</p>
          <button>Show details</button>
          <div class="hidden">
            <div class="availdata">
              <p>36</p>
              <div class="coldata">
                <div>
                  <p>Red</p>
                  <p>10</p>
                </div>
                <div>
                  <p>Red</p>
                  <p>10</p>
                </div>
              </div>
            </div>
            <div class="availdata">
              <p>37</p>
              <div class="coldata">
                <div>
                  <p>Red</p>
                  <p>10</p>
                </div>
              </div>
            </div>
            <div class="availdata">
              <p>38</p>
              <div class="coldata">
                <div>
                  <p>Red</p>
                  <p>10</p>
                </div>
              </div>
            </div>
            <div class="availdata">
              <p>39</p>
              <div class="coldata">
                <div>
                  <p>Red</p>
                  <p>10</p>
                </div>
              </div>
            </div>
            <div class="availdata">
              <p>40</p>
              <div class="coldata">
                <div>
                  <p>Red</p>
                  <p>10</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
