<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- {% load static %} -->
    <script defer src="/static/script.js"></script>
    <link rel="stylesheet" href="/static/update.css" />
    <title>Document</title>
  </head>
  <body>
    <p id="message" class="message hidden"></p>
    <form method="post" id="form_add_stock">
      {{form}} {{form.colours}}
      <input
        type="button"
        id="remove-item"
        class="remove_colours"
        value="remove colour"
      />
      <input
        type="button"
        id="add-item"
        class="add_Colours"
        value="add colour"
      />

      <input class="" type="button" id="add_stock_next" value="Next page" />
      <input type="submit" id="add_stock" />
    </form>
  </body>
</html>
