<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script defer src="/static/script.js"></script>
    <link rel="stylesheet" href="/static/style.css" />
    <title>Document</title>
  </head>
  <body>
    <form method="post" id="form_add_stock">
      {{ form.csrf_token()}} {% for field in form if field.name != "csrf_token"
      %}
      <div class="form">
        {{ field.label() }} {{ field }}
        <!-- {% for error in field.errors %} {{ error }} {% endfor %} -->
      </div>
      {% endfor %}
      <input
        type="button"
        id="addColours"
        class="add_sale"
        value="add-colour"
      />
      <input class="" type="button" id="add_stock_next" value="Next page" />
    </form>
  </body>
</html>
