<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/static/menu.css" />
    <script defer src="/static/menu.js"></script>
    <script defer src="/static/functions.js"></script>
    <script
      src="https://kit.fontawesome.com/04885ca4bc.js"
      crossorigin="anonymous"
    ></script>
    {% block script %} {% endblock %}
  </head>
  <body>
    <!-- Create the menu container -->
    <div id="menu">
      <!-- Create the hamburger display -->
      <div id="hamburger">
        <div id="one" class="ham-item"></div>
        <div id="two" class="ham-item"></div>
        <div id="three" class="ham-item"></div>
      </div>
      <div id="main-menu" class="menuhidden">
        <ul>
          <li>
            <a href="/Home">Home</a>
          </li>
          <li>
            <a class="nav-dropdown">Stock</a>
            <ul class="dropdown-items hidden">
              <li>
                <a href="/stock/updateAvailable">Update stock available</a>
              </li>
              <li><a href="/stock/Addorders">Update stock ordered</a></li>
            </ul>
          </li>
          <li>
            <a class="nav-dropdown">Sales</a>
            <ul class="dropdown-items hidden">
              <li><a href="/sales">Wholesale</a></li>
              <li><a href="/sales/retail">Retail Sales</a></li>
              <li><a href="/sales/search">Search sales</a></li>
            </ul>
          </li>
          <li><a href="#">Catalog</a></li>
          <li>
            <a href="/analysis">Analysis</a>
          </li>
          <li>
            <a href="/settings">Settings</a>
          </li>
          {% if request.user.rights == True %}
          <li><a href="/dashboard">Dashboard</a></li>
          {% endif %}
        </ul>
      </div>
    </div>
    {% block body%} {% endblock %}
  </body>
</html>
