<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- <link rel="stylesheet" href="/static/style.css" /> -->
    <link rel="stylesheet" href="/static/sales.css" />
    <script defer src="/static/salescript.js"></script>
    <script
      src="https://kit.fontawesome.com/04885ca4bc.js"
      crossorigin="anonymous"
    ></script>
    <title>Document</title>
  </head>
  <body>
    <div id="error" class="hide"></div>

    <form>
      {% for field in form if fieldname != "crsf_token" %} {{field}} {%endfor%}
    </form>
    {% if sales %}
    <!-- <div id="records"> -->
    <input type="button" value="Search sales." class="search" />
    <!-- <div id="search_div" class="search_div" class="hidden">
      <div id="close">&times;</div>
      <input type="date" />
      <input type="date" />
      <input type="button" value="Search" />
    </div> -->
    <table id="sales">
      <tr id="sales_header">
        <!-- <div class="record--rows title"> -->
        <th>Product</th>
        <th>Size</th>
        <th>Colour</th>
        <th>shop_no</th>
        <th>Returned</th>
        <th>Paid</th>
      </tr>
      {% for sale in sales %}
      <tr>
        <!-- <div class="record--rows"> -->
        <td>{{sale.product}}</td>
        <td>{{sale.size}}</td>
        <td>{{sale.colour}}</td>
        <td>{{sale.shop_no}}</td>
        <td>
          {%if sale.status == True%}
          <p>returned</p>
          {%else%}
          <p>{{sale.status}}</p>
          {%endif%}
          <input type="button" value="Change" class="status return" />
        </td>
        <td>
          {%if sale.paid == True%}
          <p>paid</p>
          {%else%}
          <p>{{sale.paid}}</p>
          {%endif%}
          <input type="button" value="Change" class="status paid" />
        </td>
        <!-- <td></td> -->
        <!-- </div> -->
      </tr>
      {% endfor %}
    </table>
    <!-- </div> -->

    {% else %}
    <div>No sales today</div>
    {% endif %}
  </body>
</html>

<!-- <div id="error" class="hide success">This is an success</div> -->
<!-- 
  <div id="Sales_data">
    <div class="Sale_name">
      <input type="text" placeholder="Product name" />
      <div class="Sale_sizes">
        <div>
          <input
            style="align-self: center"
            type="number"
            placeholder="Size"
          />
          <div id="Sale_Colour">
            <div>
              <input type="text" placeholder="Colour" />
              <input type="number" placeholder="Sold" />
            </div>
            <div>
              <input type="text" placeholder="Colour" />
              <input type="number" placeholder="Sold" />
            </div>

            <input type="button" class="add_sale" value="Add colour" />
            <input type="button" class="rem_sale" value="Delete colour" />
          </div>
        </div>

        <input type="button" class="add_sale" value="add Size Sold" />
        <input
          type="button"
          class="rem_sale align"
          value="Delete Size Sold"
        />
      </div>
    </div>
    <input type="button" class="add_sale" value="Add Product Sold" />
    <input type="button" class="rem_sale align" value="Delete Product Sold" />
  </div>
  <input type="submit" href="/sales" id="sales" value="Submit Sales data" /> -->
