<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/style.css" />
    <script defer src="/static/salescript.js"></script>
    <title>Document</title>
  </head>
  <body>
    <div id="Sales_data">
      <div class="Sale_name">
        <input type="text" placeholder="Product name" />
        <div class="Sale_sizes">
          <div>
            <input type="text" placeholder="Size" />
            <div id="Sale_Colour">
              <div>
                <input type="text" placeholder="Colour" />
                <input type="number" placeholder="Sold" />
              </div>
              <div>
                <input type="text" placeholder="Colour" />
                <input type="numeric" placeholder="Sold" />
              </div>

              <input type="button" class="add_sale" value="Add colour" />
              <input type="button" class="rem_sale" value="Delete colour" />
            </div>
          </div>

          <input type="button" class="add_sale" value="add Size Sold" />
          <input type="button" class="rem_sale" value="Delete Size Sold" />
        </div>
      </div>
      <input type="button" class="add_sale" value="Add Product Sold" />
      <input type="button" class="rem_sale" value="Delete Product Sold" />
    </div>
    <input type="submit" href="/sales" id="sales" value="Submit Sales data" />
  </body>
</html>
