{% extends "menu.html" %} {%block script %}
<link rel="stylesheet" href="/static/sales.css" />
<script defer src="/static/salescript.js"></script>
<script
  src="https://kit.fontawesome.com/04885ca4bc.js"
  crossorigin="anonymous"
></script>
<!-- <title>Document</title> -->
{%endblock%}
<!-- <body> -->
{% block body%}
<div id="error" class="hide"></div>

<form method="post">
  {% for field in form%} {% if field.name == "paid"%}
  <div>
    <label for="paid"> Paid?</label>
    {{field}}
  </div>
  {%else%}{{field}}{% endif %} {% endfor %}
  <input
    type="button"
    id="remove-item"
    class="remove-sale"
    value="Delete sale"
  />
  <input type="button" id="add-item" class="add-sale" value="Add sale" />
  <input type="submit" id="submit_sales" value="Submit Sale" />
</form>
{% if sales %}
<table id="sales">
  <tr id="sales_header">
    <!-- <div class="record--rows title"> -->
    <th>Product</th>
    <th>Size</th>
    <th>Colour</th>
    <th>shop_no</th>
    <th>Returned</th>
    <th>Paid</th>
  </tr>
  {% for sale in sales %}
  <tr>
    <!-- <div class="record--rows"> -->
    <td>{{sale.product}}</td>
    <td>{{sale.size}}</td>
    <td>{{sale.colour}}</td>
    <td>{{sale.shop_no}}</td>
    <td>
      {%if sale.status == True%}
      <p>returned</p>
      {%else%}
      <p>{{sale.status}}</p>
      <input type="button" value="Change" class="status return" />
      {%endif%}
    </td>
    <td>
      {%if sale.paid == True%}
      <p>paid</p>
      {%else%}
      <p>{{sale.paid}}</p>
      {%endif%}
      <input type="button" value="Change" class="status paid" />
    </td>
    <!-- <td></td> -->
    <!-- </div> -->
  </tr>
  {% endfor %}
</table>
{% else %}
<div>No sales today</div>
{% endif %} {% endblock %}
<!-- </body> -->
<!-- </html> -->

<!-- <div id="records"> -->
<!-- <input type="button" value="Search sales." class="search" /> -->
<!-- <div id="search_div" class="search_div" class="hidden">
      <div id="close">&times;</div>
      <input type="date" />
      <input type="date" />
      <input type="button" value="Search" />
    </div> -->

<!-- <div id="error" class="hide success">This is an success</div> -->
<!-- 
  <div id="Sales_data">
    <div class="Sale_name">
      <input type="text" placeholder="Product name" />
      <div class="Sale_sizes">
        <div>
          <input
            style="align-self: center"
            type="number"
            placeholder="Size"
          />
          <div id="Sale_Colour">
            <div>
              <input type="text" placeholder="Colour" />
              <input type="number" placeholder="Sold" />
            </div>
            <div>
              <input type="text" placeholder="Colour" />
              <input type="number" placeholder="Sold" />
            </div>

            <input type="button" class="add_sale" value="Add colour" />
            <input type="button" class="rem_sale" value="Delete colour" />
          </div>
        </div>

        <input type="button" class="add_sale" value="add Size Sold" />
        <input
          type="button"
          class="rem_sale align"
          value="Delete Size Sold"
        />
      </div>
    </div>
    <input type="button" class="add_sale" value="Add Product Sold" />
    <input type="button" class="rem_sale align" value="Delete Product Sold" />
  </div>
  <input type="submit" href="/sales" id="sales" value="Submit Sales data" /> -->
