{% extends "menu.html" %}{% block script %}
<link rel="stylesheet" href="/static/sales.css" />
<title>Document</title>
{# load static #} {% endblock %}

<!-- <body> -->
{% block body %}
<form method="post" id="form_add_stock">
  <!-- {{csrf_token}} -->
  {{form}}

  <input type="button" id="add_sale" value="add Sale" />
</form>
{% endblock %}
<!-- </body> -->
<!-- <script async defer>
    const Stock_container = document.getElementById("stock_sold");
    let count = 1;
    const btn = document.getElementById("addSale");
    btn.addEventListener("click", function () {
      let template = Stock_container.firstChild.innerHTML;
      template = template.replace(/[%0%]/gi, count);
      console.log(template);
      Stock_container.insertAdjacentHTML("beforeend", template);
      count++;
    });
  </script> -->
<!-- </html> -->
