<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- <script defer src="/static/salescript.js"></script> -->
    <title>Document</title>
  </head>
  <body>
    <!-- <form style="display: inline">
      {% for field in form if fieldname != "crsf_token" %} {{field}} {%endfor%}
    </form> -->
    <input type="text" placeholder="product name" />
    <input type="text" placeholder="shop name" />
    <input type="text" placeholder="size" />
    <input type="date" value="start date" />
    <input type="date" value="end date" />
  </body>
</html>
